<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kippy.android.scored">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/My.NoActionBar">

	    <activity android:name=".activity.MinigolfActivity">
		    <intent-filter>
			    <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
		    </intent-filter>
	    </activity>

	    <activity
		    android:name=".activity.MinigolfScorePickerActivity"
		    android:theme="@style/My.Dialog" />

    </application>

</manifest>
